**นางสาวจิตรลดา โยธินทะ 6510405377**

# 1. โหลดไฟล์ที่ชื่อ olympic_cleaned.csv ขึ้นมาใน DataFrame ที่ชื่อ medals

In [ ]:
import pandas as pd

In [ ]:
medals = pd.read_csv("olympics_cleaned.csv")
medals

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
0,Afghanistan,AFG,13,0,0,2,0,0,0,0
1,Algeria,ALG,12,5,2,8,3,0,0,0
2,Argentina,ARG,23,18,24,28,18,0,0,0
3,Armenia,ARM,5,1,2,9,6,0,0,0
4,Australasia,ANZ,2,3,4,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia,YUG,16,26,29,28,14,0,3,1
142,Independent Olympic Participants,IOP,1,0,1,2,0,0,0,0
143,Zambia,ZAM,12,0,1,1,0,0,0,0
144,Zimbabwe,ZIM,12,3,4,1,1,0,0,0
145,Mixed team,ZZX,3,8,5,4,0,0,0,0

# 2. แสดงจำนวนแถวและจำนวนคอลัมน์ของ medals

In [ ]:
medals.shape

(146, 10)

In [ ]:
row = medals.shape[0]
row

146

In [ ]:
col = medals.shape[1]
col

10

# 3. ตรวจสอบว่ารหัสประเทศ (Code) ไม่มีซ้ำกันด้วย attribute is_unique

In [ ]:
medals.Code.is_unique

True

# 4.ตั้งรหัสประเทศให้เป็น index
  1.ลองใช้ method set_index()

In [ ]:
medals = medals.set_index("Code")
medals

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0
ALG,Algeria,12,5,2,8,3,0,0,0
ARG,Argentina,23,18,24,28,18,0,0,0
ARM,Armenia,5,1,2,9,6,0,0,0
ANZ,Australasia,2,3,4,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...
YUG,Yugoslavia,16,26,29,28,14,0,3,1
IOP,Independent Olympic Participants,1,0,1,2,0,0,0,0
ZAM,Zambia,12,0,1,1,0,0,0,0
ZIM,Zimbabwe,12,3,4,1,1,0,0,0
ZZX,Mixed team,3,8,5,4,0,0,0,0

# 5.แสดงคอลัมน์เหรียญทองโอลิมปิคฤดูร้อน (SummerGold)

In [ ]:
medals.loc[:, "SummerGold"]

Code
AFG     0
ALG     5
ARG    18
ARM     1
ANZ     3
       ..
YUG    26
IOP     0
ZAM     0
ZIM     3
ZZX     8
Name: SummerGold, Length: 146, dtype: int64

# 6.แสดงข้อมูลของประเทศสหรัฐอเมริกา (USA)

In [ ]:
medals.loc["USA", :]

Country         United States
SummerGame                 26
SummerGold                976
SummerSilver              757
SummerBronze              666
WinterGame                 22
WinterGold                 96
WinterSilver              102
WinterBronze               84
Name: USA, dtype: object

# 7.แสดงเฉพาะข้อมูลของโอลิมปิคฤดูร้อนของทุกประเทศ (คอลัมน์ที่ขึ้นต้นด้วยคำว่า Summer)

In [ ]:
medals.loc[:, medals.columns.str.startswith("Summer")]

      SummerGame  SummerGold  SummerSilver  SummerBronze
Code
AFG           13           0             0             2
ALG           12           5             2             8
ARG           23          18            24            28
ARM            5           1             2             9
ANZ            2           3             4             5
...          ...         ...           ...           ...
YUG           16          26            29            28
IOP            1           0             1             2
ZAM           12           0             1             1
ZIM           12           3             4             1
ZZX            3           8             5             4

[146 rows x 4 columns]

# 8.แสดงข้อมูลเหรียญทองของโอลิมปิกฤดูร้อนและฤดูหนาวของประเทศไทย (THA) สิงคโปร์ (SIN) และมาเลเซีย (MAS) แสดงชื่อประเทศด้วย

In [ ]:
medals.loc[['THA', 'SIN', 'MAS'], medals.columns.str.endswith('Gold') | medals.columns.str.contains('Country')]

        Country  SummerGold  WinterGold
Code
THA    Thailand           7           0
SIN   Singapore           0           0
MAS    Malaysia           0           0

# 9.แสดงข้อมูลเหรียญเงินและเหรียญทองแดงของโอลิมปิคฤดูร้อนของประเทศฝรั่งเศส (FRA) และสเปน (ESP) แสดงชื่อประเทศด้วย

In [ ]:
medals.loc[['FRA', 'ESP'],
           (medals.columns.str.startswith('Summer') &
           (medals.columns.str.endswith('Silver') |
           medals.columns.str.endswith('Bronze'))) |
           medals.columns.str.contains('Country')
           ]

     Country  SummerSilver  SummerBronze
Code
FRA   France           223           246
ESP    Spain            59            35

# 10.แสดงประเทศที่เข้าร่วมโอลิมปิคฤดูร้อนมากกว่า 24 ครั้ง

In [ ]:
medals.loc[(medals.SummerGame + medals.WinterGame) > 24]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
ARG,Argentina,23,18,24,28,18,0,0,0
AUS,Australia,25,139,152,177,18,5,3,4
AUT,Austria,26,18,33,35,22,59,78,81
BEL,Belgium,25,37,52,53,20,1,1,3
BRA,Brazil,21,23,30,55,7,0,0,0
BUL,Bulgaria,19,51,85,78,19,1,2,3
CAN,Canada,25,59,99,121,22,62,56,52
CHI,Chile,22,2,7,4,16,0,0,0
TCH,Czechoslovakia,16,49,49,45,16,2,8,15
DEN,Denmark,26,43,68,68,13,0,1,0
FIN,Finland,24,101,84,117,22,42,62,57
FRA,France,27,202,223,246,22,31,31,47
GER,Germany,15,174,182,217,11,78,78,53
GBR,Great Britain,27,236,272,272,22,10,4,12
GRE,Greece,27,30,42,39,18,0,0,0
HUN,Hungary,25,167,144,165,22,0,2,4
ISL,Iceland,19,0,2,2,17,0,0,0
IND,India,23,9,6,11,9,0,0,0
IRI,Iran,15,15,20,25,10,0,0,0
IRL,Ireland,20,9,8,12,6,0,0,0
ITA,Italy,26,198,166,185,22,37,34,43
JPN,Japan,21,130,126,142,20,10,17,18
KOR,South Korea,16,81,82,80,17,26,17,10
LIB,Lebanon,16,0,2,2,16,0,0,0
LIE,Liechtenstein,16,0,0,0,18,2,2,5
LUX,Luxembourg,22,1,1,0,8,0,2,0
MEX,Mexico,22,13,21,28,8,0,0,0
MGL,Mongolia,12,2,9,13,13,0,0,0
NED,Netherlands,25,77,85,104,20,37,38,35
NZL,New Zealand,22,42,18,39,15,0,1,0
NOR,Norway,24,56,49,43,22,118,111,100
POL,Poland,20,64,82,125,22,6,7,7
POR,Portugal,23,4,8,11,7,0,0,0
ROU,Romania,20,88,94,119,20,0,0,1
ESP,Spain,22,37,59,35,19,1,0,1
SWE,Sweden,26,143,164,176,22,50,40,54
SUI,Switzerland,27,47,73,65,22,50,40,48
TUR,Turkey,21,39,25,24,16,0,0,0
USA,United States,26,976,757,666,22,96,102,84
YUG,Yugoslavia,16,26,29,28,14,0,3,1

# 11.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูร้อนมากกว่า 200 เหรียญ

In [ ]:
medals.loc[medals.SummerGold > 200]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
CHN,China,9,201,146,126,10,12,22,19
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
URS,Soviet Union,9,395,319,296,9,78,57,59
USA,United States,26,976,757,666,22,96,102,84

# 12.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูร้อนมากกว่า 200 เหรียญและเป็นเหรียญเงินมากกว่า 200 เหรียญ

In [ ]:
medals.loc[(medals.SummerGold > 200) & (medals.SummerSilver > 200)]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
URS,Soviet Union,9,395,319,296,9,78,57,59
USA,United States,26,976,757,666,22,96,102,84

# 13.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูหนาวมากกว่าเหรียญเงินของโอลิมปิคฤดูหนาว

In [ ]:
medals.loc[medals.WinterGold > medals.WinterSilver, : ]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AUS,Australia,25,139,152,177,18,5,3,4
BLR,Belarus,5,12,24,39,6,6,4,5
CAN,Canada,25,59,99,121,22,62,56,52
EST,Estonia,11,9,9,15,9,4,2,1
EUA,United Team of Germany,3,28,54,36,3,8,6,5
GDR,East Germany,5,153,129,127,6,39,36,35
GBR,Great Britain,27,236,272,272,22,10,4,12
ITA,Italy,26,198,166,185,22,37,34,43
KOR,South Korea,16,81,82,80,17,26,17,10
NOR,Norway,24,56,49,43,22,118,111,100
RUS,Russia,5,132,121,142,6,49,40,35
URS,Soviet Union,9,395,319,296,9,78,57,59
EUN,Unified Team,1,45,38,29,1,9,6,8
ESP,Spain,22,37,59,35,19,1,0,1
SWE,Sweden,26,143,164,176,22,50,40,54
SUI,Switzerland,27,47,73,65,22,50,40,48
UKR,Ukraine,5,33,27,55,6,2,1,4
UZB,Uzbekistan,5,5,5,10,6,1,0,0

# 14.แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูหนาวมากกว่าเหรียญเงินและเหรียญทองแดงของโอลิมปิคฤดูหนาวรวมกัน

In [ ]:
medals.loc[medals.WinterGold > (medals.WinterSilver + medals.WinterBronze), : ]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
EST,Estonia,11,9,9,15,9,4,2,1
UZB,Uzbekistan,5,5,5,10,6,1,0,0

# 15.แสดงข้อมูลโอลิมปิกฤดูร้อนเท่านั้นของประเทศที่ชื่อขึ้นต้นด้วย 'A' ทั้งหมด
   1.ลองใช้ method str.startswith() ร่วมกับการ slice

In [ ]:
medals.loc[medals.Country.str.startswith('A') , :]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0
ALG,Algeria,12,5,2,8,3,0,0,0
ARG,Argentina,23,18,24,28,18,0,0,0
ARM,Armenia,5,1,2,9,6,0,0,0
ANZ,Australasia,2,3,4,5,0,0,0,0
AUS,Australia,25,139,152,177,18,5,3,4
AUT,Austria,26,18,33,35,22,59,78,81
AZE,Azerbaijan,5,6,5,15,5,0,0,0

# 16.ประเทศที่เข้าร่วมจำนวนโอลิมปิกฤดูร้อนมากที่สุดคือกี่ครั้ง

In [ ]:
maxParticipated = medals.SummerGame.max()
maxParticipated

27

# 17.แสดงชื่อประเทศที่เข้าร่วมโอลิมปิกฤดูร้อนมากที่สุด (ระวัง!! อาจมีหลายประเทศ)

In [ ]:
medals.loc[medals.SummerGame == maxParticipated]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
GRE,Greece,27,30,42,39,18,0,0,0
SUI,Switzerland,27,47,73,65,22,50,40,48

# 18.จำนวนประเทศที่เข้าร่วมโอลิมปิกฤดูหนาวบ่อยที่สุดมีกี่ประเทศ

In [ ]:
len(medals.loc[medals.WinterGame == medals.WinterGame.max()])

12

# 19.จำนวนเหรียญทั้งหมดที่แจกไปในโอลิมปิกฤดูหนาวรวมแล้วมีกี่เหรียญ

In [ ]:
sum(medals.WinterGold + medals.WinterSilver + medals.WinterBronze)

2865

# 20.หาค่าเฉลี่ยของจำนวนเหรียญทองฤดูหนาวและฤดูร้อนต่อประเทศ

In [ ]:
medals.loc[ : , ["WinterGold", "SummerGold"]].mean(axis = 1)

Code
AFG     0.0
ALG     2.5
ARG     9.0
ARM     0.5
ANZ     1.5
       ...
YUG    13.0
IOP     0.0
ZAM     0.0
ZIM     1.5
ZZX     4.0
Length: 146, dtype: float64

#21.แสดงจำนวนเหรียญทั้งหมด(รวมฤดูร้อนและฤดูหนาว)ที่แต่ละประเทศได้

In [ ]:
medals['TotalMedals'] = medals.loc[ : , "SummerGold":"SummerBronze"].sum(axis = 1) + medals.loc[ : , "WinterGold":"WinterBronze"].sum(axis = 1)
medals

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals
Code,,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0,2
ALG,Algeria,12,5,2,8,3,0,0,0,15
ARG,Argentina,23,18,24,28,18,0,0,0,70
ARM,Armenia,5,1,2,9,6,0,0,0,12
ANZ,Australasia,2,3,4,5,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...
YUG,Yugoslavia,16,26,29,28,14,0,3,1,87
IOP,Independent Olympic Participants,1,0,1,2,0,0,0,0,3
ZAM,Zambia,12,0,1,1,0,0,0,0,2
ZIM,Zimbabwe,12,3,4,1,1,0,0,0,8
ZZX,Mixed team,3,8,5,4,0,0,0,0,17

#22.แสดงประเทศที่ได้เหรียญรวมทุกประเภทของโอลิมปิกฤดูหนาวมากกว่าเหรียญรวมโอลิมปิกฤดูร้อนให้คอลัมน์ของตารางนี้แสดงชื่อประเทศเหรียญรวมฤดูร้อนเหรียญรวมฤดูหนาว

In [ ]:
medals['SummerMedals'] = medals.loc[ : , "SummerGold":"SummerBronze"].sum(axis = 1)
medals['WinterMedals'] = medals.loc[ : , "WinterGold":"WinterBronze"].sum(axis = 1)
medals.loc[medals.WinterMedals > medals.SummerMedals, : ]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals,SummerMedals,WinterMedals
Code,,,,,,,,,,,,
AUT,Austria,26,18,33,35,22,59,78,81,304,86,218
LIE,Liechtenstein,16,0,0,0,18,2,2,5,9,0,9
NOR,Norway,24,56,49,43,22,118,111,100,477,148,329

#23.แสดงประเทศที่ไม่เคยได้เหรียญใดของโอลิมปิกฤดูร้อนแต่ได้เหรียญใดของฤดูหนาวหรือได้แต่เหรียญฤดูร้อนไม่เคยได้ฤดูหนาว

In [ ]:
medals.loc[((medals.WinterMedals == 0) & (medals.SummerMedals > 0)) |
            ((medals.WinterMedals > 0) & (medals.SummerMedals == 0))
            , : ].tail(100)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals,SummerMedals,WinterMedals
Code,,,,,,,,,,,,
ARG,Argentina,23,18,24,28,18,0,0,0,70,70,0
ARM,Armenia,5,1,2,9,6,0,0,0,12,12,0
ANZ,Australasia,2,3,4,5,0,0,0,0,12,12,0
AZE,Azerbaijan,5,6,5,15,5,0,0,0,26,26,0
BAH,Bahamas,15,5,2,5,0,0,0,0,12,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...
ISV,Virgin Islands,11,0,1,0,7,0,0,0,1,1,0
IOP,Independent Olympic Participants,1,0,1,2,0,0,0,0,3,3,0
ZAM,Zambia,12,0,1,1,0,0,0,0,2,2,0
ZIM,Zimbabwe,12,3,4,1,1,0,0,0,8,8,0
ZZX,Mixed team,3,8,5,4,0,0,0,0,17,17,0

#24.แสดงประเทศเรียงลำดับตามเหรียญทองฤดูร้อนจากน้อยไปมาก

In [ ]:
medals.sort_values("SummerGold", ascending = True)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals,SummerMedals,WinterMedals
Code,,,,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0,2,2,0
NAM,Namibia,6,0,4,0,0,0,0,0,4,4,0
MNE,Montenegro,2,0,1,0,2,0,0,0,1,1,0
MDA,Moldova,5,0,2,5,6,0,0,0,7,7,0
MRI,Mauritius,8,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
CHN,China,9,201,146,126,10,12,22,19,526,473,53
FRA,France,27,202,223,246,22,31,31,47,780,671,109
GBR,Great Britain,27,236,272,272,22,10,4,12,806,780,26
URS,Soviet Union,9,395,319,296,9,78,57,59,1204,1010,194
USA,United States,26,976,757,666,22,96,102,84,2681,2399,282

#25.แสดงประเทศเรียงลำดับตามเหรียญทองฤดูร้อนจากมากไปน้อยถ้าได้เหรียญทองฤดูร้อนเท่ากันให้เรียงตามจำนวนการเข้าแข่งฤดูร้อนจากน้อยไปมาก

In [ ]:
medals.sort_values(["SummerGold", "SummerGame"], ascending = [False, True])

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals,SummerMedals,WinterMedals
Code,,,,,,,,,,,,
USA,United States,26,976,757,666,22,96,102,84,2681,2399,282
URS,Soviet Union,9,395,319,296,9,78,57,59,1204,1010,194
GBR,Great Britain,27,236,272,272,22,10,4,12,806,780,26
FRA,France,27,202,223,246,22,31,31,47,780,671,109
CHN,China,9,201,146,126,10,12,22,19,526,473,53
...,...,...,...,...,...,...,...,...,...,...,...,...
SRI,Sri Lanka,16,0,2,0,0,0,0,0,2,2,0
BER,Bermuda,17,0,0,1,7,0,0,0,1,1,0
PUR,Puerto Rico,17,0,2,6,6,0,0,0,8,8,0
ISL,Iceland,19,0,2,2,17,0,0,0,4,4,0
PHI,Philippines,20,0,2,7,4,0,0,0,9,9,0

#26.ให้สร้างคอลัมน์ใหม่ในตาราง medals ให้ชื่อว่า score โดยคำนวณคะแนนรวมจากเหรียญที่แต่ละประเทศได้(ทั้งฤดูร้อนและหนาว) โดยให้เหรียญทองได้ 3 คะแนนเหรียญเงินได้ 2 คะแนนเหรียญทองแดงได้ 1 คะแนนแล้วแสดงข้อมูล 10 ประเทศแรกที่ได้คะแนนเยอะที่สุด

In [ ]:
medals['Score'] = (medals.SummerGold + medals.WinterGold) * 3 + (medals.SummerSilver + medals.WinterSilver) * 2 + (medals.SummerBronze + medals.WinterBronze) * 1
medals.sort_values('Score', ascending = False).head(10)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals,SummerMedals,WinterMedals,Score
Code,,,,,,,,,,,,,
USA,United States,26,976,757,666,22,96,102,84,2681,2399,282,5684
URS,Soviet Union,9,395,319,296,9,78,57,59,1204,1010,194,2526
GBR,Great Britain,27,236,272,272,22,10,4,12,806,780,26,1574
GER,Germany,15,174,182,217,11,78,78,53,782,573,209,1546
FRA,France,27,202,223,246,22,31,31,47,780,671,109,1500
ITA,Italy,26,198,166,185,22,37,34,43,663,549,114,1333
SWE,Sweden,26,143,164,176,22,50,40,54,627,483,144,1217
CHN,China,9,201,146,126,10,12,22,19,526,473,53,1120
GDR,East Germany,5,153,129,127,6,39,36,35,519,409,110,1068
RUS,Russia,5,132,121,142,6,49,40,35,519,395,124,1042

#27.การเปรียบเทียบคะแนนจากเหรียญทั้งหมดอาจจะไม่แฟร์เพราะแต่ละประเทศเข้าร่วมการแข่งขันไม่เท่ากันดังนั้นให้สร้างคอลัมน์ใหม่ในตาราง medals ชื่อว่า perGame โดยคำนวณคะแนนต่อการเข้าร่วมแข่งขัน(คะแนนคำนวณเหมือนเดิมแต่หารด้วยจำนวนเกมส์ที่เข้าแข่งขันแยกกันระหว่างฤดูร้อนกับฤดูหนาวค่าperGame จะเป็นผลบวกของคะแนนของฤดูร้อนกับฤดูหนาว) แสดงข้อมูล 10 ประเทศที่ได้คะแนนน้อยที่สุด
1.ระวังตรวจสอบผลลัพธ์ให้ดีมี surprise นะข้อนี้

In [32]:
summer = ((medals.SummerGold) * 3 + (medals.SummerSilver) * 2 + (medals.SummerBronze) * 1) / medals.SummerGame
winter = ((medals.WinterGold) * 3 + (medals.WinterSilver) * 2 + (medals.WinterBronze) * 1) / medals.WinterGame
medals['perGame'] = summer.add(winter, fill_value = 0)
medals

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,TotalMedals,SummerMedals,WinterMedals,Score,perGame
Code,,,,,,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0,2,2,0,2,0.153846
ALG,Algeria,12,5,2,8,3,0,0,0,15,15,0,27,2.250000
ARG,Argentina,23,18,24,28,18,0,0,0,70,70,0,130,5.652174
ARM,Armenia,5,1,2,9,6,0,0,0,12,12,0,16,3.200000
ANZ,Australasia,2,3,4,5,0,0,0,0,12,12,0,22,11.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUG,Yugoslavia,16,26,29,28,14,0,3,1,87,83,4,171,10.750000
IOP,Independent Olympic Participants,1,0,1,2,0,0,0,0,3,3,0,4,4.000000
ZAM,Zambia,12,0,1,1,0,0,0,0,2,2,0,3,0.250000
ZIM,Zimbabwe,12,3,4,1,1,0,0,0,8,8,0,18,1.500000
ZZX,Mixed team,3,8,5,4,0,0,0,0,17,17,0,38,12.666667