นางสาวจิตรลดา โยธินทะ 6510405377

In [1121]:
import pandas as pd

# 1.ปิดไฟล์ italy_earthquakes_from_2016-08-24_to_2016-11-30.csv

In [1122]:
df = pd.read_csv('italy_earthquakes_from_2016-08-24_to_2016-11-30.csv')
df.head(5)

                      Time  Latitude  Longitude  Depth/Km  Magnitude
0  2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1  2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2  2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3  2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4  2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

# 2. ปรับคอลัมน์ Time ให้เป็น Timestamp และตั้งให้เป็น index

In [1123]:
df.Time = pd.to_datetime(df.Time)
df = df.set_index('Time').sort_index(ascending = True)
df.head(5)

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

# 3. เวลาที่เกิดแผ่นดินไหวแรงที่สุดคือวันเวลาไหน

In [1124]:
day_max = df.loc[df.Magnitude == df.Magnitude.max()].index[0]
day_max

Timestamp('2016-10-30 08:40:17.360000')

# 4. ในวันที่เกิดแผ่นดินไหวแรงที่สุดมีแผ่นดินไหวกี่ครั้ง

In [1125]:
day_max.strftime('%Y-%m-%d')

'2016-10-30'

In [1126]:
df.loc['2016-10-30'].shape[0]

389

# 5. แสดงข้อมูลตั้งแต่ 7 ถึง 9 โมงเช้าในวันที่เกิดแผ่นดินไหวแรงที่สุด

In [1127]:
df.loc['2016-10-30 07:00' : '2016-10-30 09:00']

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-10-30 07:01:14.060   42.8522    13.2443       8.9        2.4
2016-10-30 07:02:48.160   42.8538    13.2342       8.3        2.5
2016-10-30 07:14:48.470   42.8737    13.1502       9.2        2.4
2016-10-30 07:31:51.660   42.8753    13.0563       9.9        2.2
2016-10-30 08:04:07.760   42.7907    13.0872      10.2        2.4
2016-10-30 08:16:28.780   43.0622    13.0683       8.7        2.1
2016-10-30 08:31:19.890   42.9268    13.0287      10.8        2.0
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-10-30 08:41:17.010   42.7720    13.1358       9.3        4.3
2016-10-30 08:42:27.470   42.8795    13.0562       9.6        3.9
2016-10-30 08:43:08.810   42.7668    13.1383       9.7        4.0
2016-10-30 08:43:46.260   42.9000    13.1455       6.7        3.5
2016-10-30 08:44:30.670   42.8548    13.0853       8.3        4.6
2016-10-30 08:47:05.430   42.7868    13.1655       5.8        3.4
2016-10-30 08:48:27.160   42.7825    13.1632      10.8        3.8
2016-10-30 08:48:52.710   42.6828    13.2003      10.1        3.9
2016-10-30 08:50:43.710   42.8068    13.1952      10.5        3.6
2016-10-30 08:51:14.270   42.8925    13.0782       9.1        3.7
2016-10-30 08:51:55.240   42.7828    13.1332      10.1        3.8
2016-10-30 08:53:12.820   42.8090    13.0830      10.1        3.4
2016-10-30 08:53:54.740   42.7692    13.1643      10.8        3.2
2016-10-30 08:54:46.760   42.7958    13.2090      11.3        2.8
2016-10-30 08:55:41.060   42.7122    13.1968      10.8        4.1
2016-10-30 08:55:54.210   42.7508    13.2307      10.9        4.1
2016-10-30 08:56:05.780   42.7993    13.1077      10.5        4.2
2016-10-30 08:56:38.110   42.8437    13.1453       9.7        3.5
2016-10-30 08:57:21.560   42.8607    13.0922       9.5        3.8
2016-10-30 08:58:02.960   42.9078    13.1008       7.3        3.5
2016-10-30 08:59:31.500   42.8517    13.2118       9.9        3.9
2016-10-30 08:59:45.430   42.8235    13.1828      12.7        3.6
2016-10-30 09:00:40.250   42.8758    13.0530       9.9        4.1
2016-10-30 09:00:53.760   42.8343    13.0733       9.1        3.5

# 6. แผ่นดินไหวที่แรงที่สุดกับแรงเป็นที่ 2 ห่างกันเท่าไหร่ตอบเป็นวัน-ชั่วโมง-นาที

In [1128]:
max2 = df.loc[~(df.index == '2016-10-30 08:40:17.360000')].Magnitude.max()
day_max2 = df.loc[df.Magnitude == max2].index[0]

In [1129]:
day_max - day_max2

Timedelta('67 days 05:03:45.360000')

# 7. คำนวณความแรงของแผ่นดินไหวที่เปลี่ยนไปในแต่ละครั้งของข้อมูลในข้อ 5.
หมายเหตุ: ใช้คำสั่ง shift() ช่วยเลื่อนแถวของคอลัมน์ Magnitude เพื่อคำนวณความแตกต่าง

In [1130]:
temp = df.copy()
temp['DiffLastMagnitude'] = temp.Magnitude.diff(1)
temp

,Latitude,Longitude,Depth/Km,Magnitude,DiffLastMagnitude
Time,,,,,
2016-08-24 03:36:32.000,42.6983,13.2335,8.1,6.0,NaN
2016-08-24 03:37:26.580,42.7123,13.2533,9.0,4.5,-1.5
2016-08-24 03:40:46.590,42.7647,13.1723,9.7,3.8,-0.7
2016-08-24 03:41:38.900,42.7803,13.1683,9.7,3.9,0.1
2016-08-24 03:42:07.170,42.7798,13.1575,9.7,3.6,-0.3
...,...,...,...,...,...
2016-11-30 18:39:27.600,42.8903,13.0197,10.7,2.0,-0.3
2016-11-30 18:43:14.850,42.9443,13.2003,8.6,2.6,0.6
2016-11-30 20:18:27.550,43.0092,13.1288,8.0,2.2,-0.4
2016-11-30 20:45:11.780,43.0197,13.1017,9.3,2.7,0.5
2016-11-30 20:54:35.890,42.9935,13.0753,9.5,2.3,-0.4

# 8. มีแผ่นดินไหวเกิดขึ้นกี่ครั้งในแต่ละวัน

In [1131]:
temp.resample('D').size()

Time
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

# 9. ถ้าแยกเวลาเป็นช่วงช่วงละหนึ่งชั่วโมงมีกี่ช่วงที่ไม่มีแผ่นดินไหวเกิดขึ้นเลยในชั่วโมงนั้น

In [1132]:
a = temp.resample('H').size().to_frame()
a.columns = ['Count']
a.loc[a.Count == 0].shape[0]

759

# 10. ถ้าแยกเวลาเป็นช่วงช่วงละ 5 นาทีช่วงเวลาไหนมีค่าเฉลี่ยความรุนแรงของแผ่นดินไหวสูงที่สุดและค่าเฉลี่ยนั้นมีค่าเท่าไหร่

In [1133]:
b = temp.resample('5 min')['Magnitude'].mean().to_period().to_frame().fillna(0)
b.columns = ['Mean']
b.loc[b.Mean == b.Mean.max()]

                  Mean
Time
2016-10-26 19:10   5.4

# 11. ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือเท่าไหร่

In [1134]:
e11 = df.reset_index().Time.to_frame()
e11.columns = ['Stop']
e11['Start'] = e11.Stop.shift(1)
e11['Diff'] = e11.Stop - e11.Start 
e11.Diff.max()

Timedelta('0 days 16:46:16.250000')

# 12. ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือช่วงไหนระบุเป็นเวลาเริ่มต้นและเวลาจบ

In [1135]:
e11.loc[e11.Diff == e11.Diff.max()]

                        Stop                   Start                   Diff
2514 2016-10-25 20:00:10.480 2016-10-25 03:13:54.230 0 days 16:46:16.250000

# 13. สมมติว่าเรานิยามแผ่นดินไหวที่รุนแรงนั้นต้องมี Magnitude มากกว่าการไหวครั้งก่อนและครั้งหลังอย่างน้อย 2.0 จงคัดเลือกเหตุการณ์แผ่นดินไหวที่รุนแรงออกมา

In [1136]:
temp['DiffAfterMagnitude'] = temp.Magnitude.diff(-1)
c = temp.loc[(temp['DiffAfterMagnitude'] >= 2) & (temp['DiffLastMagnitude'] >= 2)]
c

,Latitude,Longitude,Depth/Km,Magnitude,DiffLastMagnitude,DiffAfterMagnitude
Time,,,,,,
2016-08-24 04:33:28.890,42.7922,13.1507,8.0,5.4,2.9,2.6
2016-10-26 19:10:36.340,42.8802,13.1275,8.7,5.4,3.3,2.8
2016-10-26 21:18:05.850,42.9087,13.1288,7.5,5.9,3.7,2.3
2016-10-30 08:40:17.360,42.8322,13.1107,9.2,6.5,4.5,2.2
2016-11-29 18:14:02.690,42.5293,13.2803,11.1,4.4,2.0,2.0

# 14. จากตารางข้อ 13. ให้เพิ่มคอลัมน์ใหม่ชื่อ hour_count แสดงจำนวนแผ่นดินไหวในชั่วโมงที่มีเหตุการณ์แผ่นดินไหวรุนแรงด้วย

In [1137]:
c['hour_count'] = 0
for i in range(c.shape[0]) :
    date = c.reset_index().iloc[i,0].strftime('%Y-%m-%d %H')
    c.iloc[i,-1] = df.loc[date].shape[0]
c

C:\Users\jitla\AppData\Local\Temp\ipykernel_19004\1101165492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['hour_count'] = 0

,Latitude,Longitude,Depth/Km,Magnitude,DiffLastMagnitude,DiffAfterMagnitude,hour_count
Time,,,,,,,
2016-08-24 04:33:28.890,42.7922,13.1507,8.0,5.4,2.9,2.6,61
2016-10-26 19:10:36.340,42.8802,13.1275,8.7,5.4,3.3,2.8,12
2016-10-26 21:18:05.850,42.9087,13.1288,7.5,5.9,3.7,2.3,24
2016-10-30 08:40:17.360,42.8322,13.1107,9.2,6.5,4.5,2.2,26
2016-11-29 18:14:02.690,42.5293,13.2803,11.1,4.4,2.0,2.0,11

# 15. แสดงจำนวนแผ่นดินไหวแยกตาม 24 ชั่วโมง (เอาจำนวนแผ่นดินไหวของแต่ละชั่วโมง 0-23 ของทุกวันรวมกันแสดงผลตามชั่วโมง)

In [1142]:
dd = df.resample('H').size().to_frame().reset_index()
dd.columns = ['Date', 'Count']
dd['Hour'] = dd['Date'].dt.strftime("%H")
dd['Date'] = dd['Date'].dt.date
dd.pivot_table(index = 'Date', columns = 'Hour', values = 'Count', aggfunc = 'sum', fill_value= 0)

Hour,00,01,02,03,04,05,06,07,08,09,...,14,15,16,17,18,19,20,21,22,23
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-24,0,0,0,19,61,72,55,54,44,45,...,7,14,7,5,5,12,11,10,10,11
2016-08-25,11,12,20,13,8,19,15,4,5,8,...,13,12,6,7,9,10,6,9,7,15
2016-08-26,14,5,8,5,6,7,22,19,8,10,...,11,6,6,6,7,8,7,6,14,7
2016-08-27,7,8,11,9,7,10,7,5,8,10,...,3,5,1,6,4,2,2,1,2,7
2016-08-28,6,11,5,4,3,5,2,6,6,3,...,3,1,1,9,4,9,3,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-26,0,2,1,1,0,4,4,0,2,0,...,0,3,1,2,2,2,4,0,3,2
2016-11-27,1,1,2,0,3,5,2,2,1,2,...,2,1,0,4,6,1,3,10,7,12
2016-11-28,5,9,2,4,3,2,3,3,2,5,...,2,1,4,4,2,4,1,1,4,4
2016-11-29,5,7,5,2,3,4,5,2,3,5,...,1,0,4,4,11,6,3,2,3,4
2016-11-30,3,1,2,4,3,1,0,3,4,1,...,3,1,2,3,3,0,3,0,0,0

# 16. คำนวณค่าเฉลี่ยของความรุนแรงแผ่นดินไหวที่มากที่สุดในช่วง 3 วันโดยหาความแรงของแผ่นดินไหวที่มากที่สุดในแต่ละวันก่อนแล้วใช้ sliding window หาค่าเฉลี่ยของทุกๆ 3 วัน

In [1139]:
rd = df.Magnitude.resample('D').max().rolling(3)

In [1140]:
for i in rd :
    print(i, i.mean())
    print('mean =',i.mean())
    print('---------------------------------')

Time
2016-08-24    6.0
Freq: D, Name: Magnitude, dtype: float64 6.0
mean = 6.0
---------------------------------
Time
2016-08-24    6.0
2016-08-25    4.4
Freq: D, Name: Magnitude, dtype: float64 5.2
mean = 5.2
---------------------------------
Time
2016-08-24    6.0
2016-08-25    4.4
2016-08-26    4.8
Freq: D, Name: Magnitude, dtype: float64 5.066666666666666
mean = 5.066666666666666
---------------------------------
Time
2016-08-25    4.4
2016-08-26    4.8
2016-08-27    4.0
Freq: D, Name: Magnitude, dtype: float64 4.3999999999999995
mean = 4.3999999999999995
---------------------------------
Time
2016-08-26    4.8
2016-08-27    4.0
2016-08-28    4.2
Freq: D, Name: Magnitude, dtype: float64 4.333333333333333
mean = 4.333333333333333
---------------------------------
Time
2016-08-27    4.0
2016-08-28    4.2
2016-08-29    3.6
Freq: D, Name: Magnitude, dtype: float64 3.933333333333333
mean = 3.933333333333333
---------------------------------
Time
2016-08-28    4.2
2016-08-29    3.6
2016-08-30    3.3
Freq: D, Name: Magnitude, dtype: float64 3.7000000000000006
mean = 3.7000000000000006
---------------------------------
Time
2016-08-29    3.6
2016-08-30    3.3
2016-08-31    3.9
Freq: D, Name: Magnitude, dtype: float64 3.6
mean = 3.6
---------------------------------
Time
2016-08-30    3.3
2016-08-31    3.9
2016-09-01    3.6
Freq: D, Name: Magnitude, dtype: float64 3.5999999999999996
mean = 3.5999999999999996
---------------------------------
Time
2016-08-31    3.9
2016-09-01    3.6
2016-09-02    3.0
Freq: D, Name: Magnitude, dtype: float64 3.5
mean = 3.5
---------------------------------
Time
2016-09-01    3.6
2016-09-02    3.0
2016-09-03    4.3
Freq: D, Name: Magnitude, dtype: float64 3.633333333333333
mean = 3.633333333333333
---------------------------------
Time
2016-09-02    3.0
2016-09-03    4.3
2016-09-04    2.9
Freq: D, Name: Magnitude, dtype: float64 3.4
mean = 3.4
---------------------------------
Time
2016-09-03    4.3
2016-09-04    2.9
2016-09-05    3.5
Freq: D, Name: Magnitude, dtype: float64 3.5666666666666664
mean = 3.5666666666666664
---------------------------------
Time
2016-09-04    2.9
2016-09-05    3.5
2016-09-06    3.2
Freq: D, Name: Magnitude, dtype: float64 3.2000000000000006
mean = 3.2000000000000006
---------------------------------
Time
2016-09-05    3.5
2016-09-06    3.2
2016-09-07    3.4
Freq: D, Name: Magnitude, dtype: float64 3.3666666666666667
mean = 3.3666666666666667
---------------------------------
Time
2016-09-06    3.2
2016-09-07    3.4
2016-09-08    3.2
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-09-07    3.4
2016-09-08    3.2
2016-09-09    2.7
Freq: D, Name: Magnitude, dtype: float64 3.1
mean = 3.1
---------------------------------
Time
2016-09-08    3.2
2016-09-09    2.7
2016-09-10    3.3
Freq: D, Name: Magnitude, dtype: float64 3.0666666666666664
mean = 3.0666666666666664
---------------------------------
Time
2016-09-09    2.7
2016-09-10    3.3
2016-09-11    3.3
Freq: D, Name: Magnitude, dtype: float64 3.1
mean = 3.1
---------------------------------
Time
2016-09-10    3.3
2016-09-11    3.3
2016-09-12    3.1
Freq: D, Name: Magnitude, dtype: float64 3.233333333333333
mean = 3.233333333333333
---------------------------------
Time
2016-09-11    3.3
2016-09-12    3.1
2016-09-13    3.4
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-09-12    3.1
2016-09-13    3.4
2016-09-14    3.1
Freq: D, Name: Magnitude, dtype: float64 3.1999999999999997
mean = 3.1999999999999997
---------------------------------
Time
2016-09-13    3.4
2016-09-14    3.1
2016-09-15    3.9
Freq: D, Name: Magnitude, dtype: float64 3.466666666666667
mean = 3.466666666666667
---------------------------------
Time
2016-09-14    3.1
2016-09-15    3.9
2016-09-16    3.1
Freq: D, Name: Magnitude, dtype: float64 3.3666666666666667
mean = 3.3666666666666667
---------------------------------
Time
2016-09-15    3.9
2016-09-16    3.1
2016-09-17    3.4
Freq: D, Name: Magnitude, dtype: float64 3.466666666666667
mean = 3.466666666666667
---------------------------------
Time
2016-09-16    3.1
2016-09-17    3.4
2016-09-18    3.2
Freq: D, Name: Magnitude, dtype: float64 3.233333333333333
mean = 3.233333333333333
---------------------------------
Time
2016-09-17    3.4
2016-09-18    3.2
2016-09-19    3.0
Freq: D, Name: Magnitude, dtype: float64 3.1999999999999997
mean = 3.1999999999999997
---------------------------------
Time
2016-09-18    3.2
2016-09-19    3.0
2016-09-20    3.7
Freq: D, Name: Magnitude, dtype: float64 3.3000000000000003
mean = 3.3000000000000003
---------------------------------
Time
2016-09-19    3.0
2016-09-20    3.7
2016-09-21    3.5
Freq: D, Name: Magnitude, dtype: float64 3.4
mean = 3.4
---------------------------------
Time
2016-09-20    3.7
2016-09-21    3.5
2016-09-22    3.4
Freq: D, Name: Magnitude, dtype: float64 3.533333333333333
mean = 3.533333333333333
---------------------------------
Time
2016-09-21    3.5
2016-09-22    3.4
2016-09-23    2.8
Freq: D, Name: Magnitude, dtype: float64 3.233333333333333
mean = 3.233333333333333
---------------------------------
Time
2016-09-22    3.4
2016-09-23    2.8
2016-09-24    3.0
Freq: D, Name: Magnitude, dtype: float64 3.0666666666666664
mean = 3.0666666666666664
---------------------------------
Time
2016-09-23    2.8
2016-09-24    3.0
2016-09-25    3.0
Freq: D, Name: Magnitude, dtype: float64 2.9333333333333336
mean = 2.9333333333333336
---------------------------------
Time
2016-09-24    3.0
2016-09-25    3.0
2016-09-26    2.3
Freq: D, Name: Magnitude, dtype: float64 2.766666666666667
mean = 2.766666666666667
---------------------------------
Time
2016-09-25    3.0
2016-09-26    2.3
2016-09-27    2.7
Freq: D, Name: Magnitude, dtype: float64 2.6666666666666665
mean = 2.6666666666666665
---------------------------------
Time
2016-09-26    2.3
2016-09-27    2.7
2016-09-28    3.0
Freq: D, Name: Magnitude, dtype: float64 2.6666666666666665
mean = 2.6666666666666665
---------------------------------
Time
2016-09-27    2.7
2016-09-28    3.0
2016-09-29    2.8
Freq: D, Name: Magnitude, dtype: float64 2.8333333333333335
mean = 2.8333333333333335
---------------------------------
Time
2016-09-28    3.0
2016-09-29    2.8
2016-09-30    3.4
Freq: D, Name: Magnitude, dtype: float64 3.0666666666666664
mean = 3.0666666666666664
---------------------------------
Time
2016-09-29    2.8
2016-09-30    3.4
2016-10-01    2.8
Freq: D, Name: Magnitude, dtype: float64 3.0
mean = 3.0
---------------------------------
Time
2016-09-30    3.4
2016-10-01    2.8
2016-10-02    2.7
Freq: D, Name: Magnitude, dtype: float64 2.9666666666666663
mean = 2.9666666666666663
---------------------------------
Time
2016-10-01    2.8
2016-10-02    2.7
2016-10-03    3.2
Freq: D, Name: Magnitude, dtype: float64 2.9
mean = 2.9
---------------------------------
Time
2016-10-02    2.7
2016-10-03    3.2
2016-10-04    3.4
Freq: D, Name: Magnitude, dtype: float64 3.1
mean = 3.1
---------------------------------
Time
2016-10-03    3.2
2016-10-04    3.4
2016-10-05    3.2
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-10-04    3.4
2016-10-05    3.2
2016-10-06    3.2
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-10-05    3.2
2016-10-06    3.2
2016-10-07    3.2
Freq: D, Name: Magnitude, dtype: float64 3.2000000000000006
mean = 3.2000000000000006
---------------------------------
Time
2016-10-06    3.2
2016-10-07    3.2
2016-10-08    3.9
Freq: D, Name: Magnitude, dtype: float64 3.4333333333333336
mean = 3.4333333333333336
---------------------------------
Time
2016-10-07    3.2
2016-10-08    3.9
2016-10-09    3.6
Freq: D, Name: Magnitude, dtype: float64 3.5666666666666664
mean = 3.5666666666666664
---------------------------------
Time
2016-10-08    3.9
2016-10-09    3.6
2016-10-10    2.5
Freq: D, Name: Magnitude, dtype: float64 3.3333333333333335
mean = 3.3333333333333335
---------------------------------
Time
2016-10-09    3.6
2016-10-10    2.5
2016-10-11    3.2
Freq: D, Name: Magnitude, dtype: float64 3.1
mean = 3.1
---------------------------------
Time
2016-10-10    2.5
2016-10-11    3.2
2016-10-12    2.5
Freq: D, Name: Magnitude, dtype: float64 2.733333333333333
mean = 2.733333333333333
---------------------------------
Time
2016-10-11    3.2
2016-10-12    2.5
2016-10-13    3.1
Freq: D, Name: Magnitude, dtype: float64 2.9333333333333336
mean = 2.9333333333333336
---------------------------------
Time
2016-10-12    2.5
2016-10-13    3.1
2016-10-14    3.3
Freq: D, Name: Magnitude, dtype: float64 2.9666666666666663
mean = 2.9666666666666663
---------------------------------
Time
2016-10-13    3.1
2016-10-14    3.3
2016-10-15    3.0
Freq: D, Name: Magnitude, dtype: float64 3.1333333333333333
mean = 3.1333333333333333
---------------------------------
Time
2016-10-14    3.3
2016-10-15    3.0
2016-10-16    4.0
Freq: D, Name: Magnitude, dtype: float64 3.4333333333333336
mean = 3.4333333333333336
---------------------------------
Time
2016-10-15    3.0
2016-10-16    4.0
2016-10-17    2.6
Freq: D, Name: Magnitude, dtype: float64 3.1999999999999997
mean = 3.1999999999999997
---------------------------------
Time
2016-10-16    4.0
2016-10-17    2.6
2016-10-18    2.4
Freq: D, Name: Magnitude, dtype: float64 3.0
mean = 3.0
---------------------------------
Time
2016-10-17    2.6
2016-10-18    2.4
2016-10-19    3.0
Freq: D, Name: Magnitude, dtype: float64 2.6666666666666665
mean = 2.6666666666666665
---------------------------------
Time
2016-10-18    2.4
2016-10-19    3.0
2016-10-20    2.9
Freq: D, Name: Magnitude, dtype: float64 2.766666666666667
mean = 2.766666666666667
---------------------------------
Time
2016-10-19    3.0
2016-10-20    2.9
2016-10-21    2.2
Freq: D, Name: Magnitude, dtype: float64 2.7000000000000006
mean = 2.7000000000000006
---------------------------------
Time
2016-10-20    2.9
2016-10-21    2.2
2016-10-22    2.9
Freq: D, Name: Magnitude, dtype: float64 2.6666666666666665
mean = 2.6666666666666665
---------------------------------
Time
2016-10-21    2.2
2016-10-22    2.9
2016-10-23    2.6
Freq: D, Name: Magnitude, dtype: float64 2.5666666666666664
mean = 2.5666666666666664
---------------------------------
Time
2016-10-22    2.9
2016-10-23    2.6
2016-10-24    3.0
Freq: D, Name: Magnitude, dtype: float64 2.8333333333333335
mean = 2.8333333333333335
---------------------------------
Time
2016-10-23    2.6
2016-10-24    3.0
2016-10-25    2.2
Freq: D, Name: Magnitude, dtype: float64 2.6
mean = 2.6
---------------------------------
Time
2016-10-24    3.0
2016-10-25    2.2
2016-10-26    5.9
Freq: D, Name: Magnitude, dtype: float64 3.7000000000000006
mean = 3.7000000000000006
---------------------------------
Time
2016-10-25    2.2
2016-10-26    5.9
2016-10-27    4.3
Freq: D, Name: Magnitude, dtype: float64 4.133333333333334
mean = 4.133333333333334
---------------------------------
Time
2016-10-26    5.9
2016-10-27    4.3
2016-10-28    3.8
Freq: D, Name: Magnitude, dtype: float64 4.666666666666667
mean = 4.666666666666667
---------------------------------
Time
2016-10-27    4.3
2016-10-28    3.8
2016-10-29    4.1
Freq: D, Name: Magnitude, dtype: float64 4.066666666666666
mean = 4.066666666666666
---------------------------------
Time
2016-10-28    3.8
2016-10-29    4.1
2016-10-30    6.5
Freq: D, Name: Magnitude, dtype: float64 4.8
mean = 4.8
---------------------------------
Time
2016-10-29    4.1
2016-10-30    6.5
2016-10-31    4.0
Freq: D, Name: Magnitude, dtype: float64 4.866666666666666
mean = 4.866666666666666
---------------------------------
Time
2016-10-30    6.5
2016-10-31    4.0
2016-11-01    4.8
Freq: D, Name: Magnitude, dtype: float64 5.1000000000000005
mean = 5.1000000000000005
---------------------------------
Time
2016-10-31    4.0
2016-11-01    4.8
2016-11-02    3.7
Freq: D, Name: Magnitude, dtype: float64 4.166666666666667
mean = 4.166666666666667
---------------------------------
Time
2016-11-01    4.8
2016-11-02    3.7
2016-11-03    4.7
Freq: D, Name: Magnitude, dtype: float64 4.3999999999999995
mean = 4.3999999999999995
---------------------------------
Time
2016-11-02    3.7
2016-11-03    4.7
2016-11-04    3.4
Freq: D, Name: Magnitude, dtype: float64 3.9333333333333336
mean = 3.9333333333333336
---------------------------------
Time
2016-11-03    4.7
2016-11-04    3.4
2016-11-05    3.6
Freq: D, Name: Magnitude, dtype: float64 3.9
mean = 3.9
---------------------------------
Time
2016-11-04    3.4
2016-11-05    3.6
2016-11-06    3.8
Freq: D, Name: Magnitude, dtype: float64 3.6
mean = 3.6
---------------------------------
Time
2016-11-05    3.6
2016-11-06    3.8
2016-11-07    3.8
Freq: D, Name: Magnitude, dtype: float64 3.733333333333333
mean = 3.733333333333333
---------------------------------
Time
2016-11-06    3.8
2016-11-07    3.8
2016-11-08    3.4
Freq: D, Name: Magnitude, dtype: float64 3.6666666666666665
mean = 3.6666666666666665
---------------------------------
Time
2016-11-07    3.8
2016-11-08    3.4
2016-11-09    3.7
Freq: D, Name: Magnitude, dtype: float64 3.633333333333333
mean = 3.633333333333333
---------------------------------
Time
2016-11-08    3.4
2016-11-09    3.7
2016-11-10    3.6
Freq: D, Name: Magnitude, dtype: float64 3.5666666666666664
mean = 3.5666666666666664
---------------------------------
Time
2016-11-09    3.7
2016-11-10    3.6
2016-11-11    3.5
Freq: D, Name: Magnitude, dtype: float64 3.6
mean = 3.6
---------------------------------
Time
2016-11-10    3.6
2016-11-11    3.5
2016-11-12    4.1
Freq: D, Name: Magnitude, dtype: float64 3.733333333333333
mean = 3.733333333333333
---------------------------------
Time
2016-11-11    3.5
2016-11-12    4.1
2016-11-13    3.9
Freq: D, Name: Magnitude, dtype: float64 3.8333333333333335
mean = 3.8333333333333335
---------------------------------
Time
2016-11-12    4.1
2016-11-13    3.9
2016-11-14    4.0
Freq: D, Name: Magnitude, dtype: float64 4.0
mean = 4.0
---------------------------------
Time
2016-11-13    3.9
2016-11-14    4.0
2016-11-15    3.2
Freq: D, Name: Magnitude, dtype: float64 3.7000000000000006
mean = 3.7000000000000006
---------------------------------
Time
2016-11-14    4.0
2016-11-15    3.2
2016-11-16    3.9
Freq: D, Name: Magnitude, dtype: float64 3.6999999999999997
mean = 3.6999999999999997
---------------------------------
Time
2016-11-15    3.2
2016-11-16    3.9
2016-11-17    3.2
Freq: D, Name: Magnitude, dtype: float64 3.4333333333333336
mean = 3.4333333333333336
---------------------------------
Time
2016-11-16    3.9
2016-11-17    3.2
2016-11-18    3.4
Freq: D, Name: Magnitude, dtype: float64 3.5
mean = 3.5
---------------------------------
Time
2016-11-17    3.2
2016-11-18    3.4
2016-11-19    3.2
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-11-18    3.4
2016-11-19    3.2
2016-11-20    3.2
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-11-19    3.2
2016-11-20    3.2
2016-11-21    3.2
Freq: D, Name: Magnitude, dtype: float64 3.2000000000000006
mean = 3.2000000000000006
---------------------------------
Time
2016-11-20    3.2
2016-11-21    3.2
2016-11-22    3.1
Freq: D, Name: Magnitude, dtype: float64 3.1666666666666665
mean = 3.1666666666666665
---------------------------------
Time
2016-11-21    3.2
2016-11-22    3.1
2016-11-23    3.8
Freq: D, Name: Magnitude, dtype: float64 3.366666666666667
mean = 3.366666666666667
---------------------------------
Time
2016-11-22    3.1
2016-11-23    3.8
2016-11-24    2.9
Freq: D, Name: Magnitude, dtype: float64 3.266666666666667
mean = 3.266666666666667
---------------------------------
Time
2016-11-23    3.8
2016-11-24    2.9
2016-11-25    3.1
Freq: D, Name: Magnitude, dtype: float64 3.266666666666666
mean = 3.266666666666666
---------------------------------
Time
2016-11-24    2.9
2016-11-25    3.1
2016-11-26    3.2
Freq: D, Name: Magnitude, dtype: float64 3.0666666666666664
mean = 3.0666666666666664
---------------------------------
Time
2016-11-25    3.1
2016-11-26    3.2
2016-11-27    3.9
Freq: D, Name: Magnitude, dtype: float64 3.4000000000000004
mean = 3.4000000000000004
---------------------------------
Time
2016-11-26    3.2
2016-11-27    3.9
2016-11-28    3.6
Freq: D, Name: Magnitude, dtype: float64 3.5666666666666664
mean = 3.5666666666666664
---------------------------------
Time
2016-11-27    3.9
2016-11-28    3.6
2016-11-29    4.4
Freq: D, Name: Magnitude, dtype: float64 3.966666666666667
mean = 3.966666666666667
---------------------------------
Time
2016-11-28    3.6
2016-11-29    4.4
2016-11-30    3.1
Freq: D, Name: Magnitude, dtype: float64 3.6999999999999997
mean = 3.6999999999999997
---------------------------------